<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
      <h3 class="text-center  mb-3">Reset Password</h3>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        
        <!-- Username -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input [readonly]="true" matInput type="text" formControlName="username" placeholder="Enter username" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="resetForm.get('username')?.invalid && resetForm.get('username')?.touched">
            Username is required.
          </mat-error>
        </mat-form-field>
  
        <!-- New Password -->
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" placeholder="Enter new password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
            Password is required (min 6 chars).
          </mat-error>
        </mat-form-field>
  
        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm new password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
            Password confirmation is required.
          </mat-error>
          <mat-error *ngIf="resetForm.hasError('passwordMismatch')">
            Passwords do not match.
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <button 
          class="w-100 mt-3 btn-bg-primary" 
          [class.btn-disabled]="resetForm.invalid" 
          [disabled]="resetForm.invalid">
          Reset Password
        </button>
      </form>
    </div>
  </div>
  