.community-font {
  color: #0025f5;
}
tr{
  padding: 5px 10px;
}
.paused-row {
  background-color: #fc4949 !important;
  color: #FFF;
}
// td{
//   padding-left: 10px !important;
// }
.bg-dd-primary{
  background-color: #f46f17;
}