.font-weight-bold{
    font-size: medium;
    font-weight: bold;
}
.carousel-indicators .active {
    background-color: #0d6efd !important; /* Bootstrap primary blue */
  }
.carousel{
    height: 400px;
    background-color: #363636;
}